/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #68c4d8;
  --ifm-color-primary-dark: #4fbad1;
  --ifm-color-primary-darker: #42b5ce;
  --ifm-color-primary-darkest: #2e9ab2;
  --ifm-color-primary-light: #81cedf;
  --ifm-color-primary-lighter: #8ed3e2;
  --ifm-color-primary-lightest: #b4e2ec;
  --ifm-code-font-size: 95%;
}

.markdown {
  --ifm-h1-line-height: 2;
  --ifm-h2-line-height: 1.5;
  --ifm-heading-line-height: 1;

  --ifm-h1-vertical-rhythm-top: 4;
  --ifm-h2-vertical-rhythm-top: 1;
  --ifm-h3-vertical-rhythm-top: 1;
  --ifm-heading-vertical-rhythm-top: 1.5;

  --ifm-h1-vertical-rhythm-bottom: 1;
  --ifm-heading-vertical-rhythm-bottom: 0.5
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.indent {
  text-indent: 1%;
  font-style: italic;
}
